In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = "../inputs/UCI_Credit_Card.csv"
data = pd.read_csv(data_path)
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
data.shape

(30000, 25)

In [4]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [5]:
p = len(data[data['default.payment.next.month'] == 1])
n = len(data[data['default.payment.next.month'] == 0])
t = len(data)

print(f"positive class rate: {p/t}%")
print(f"negative class rate: {n/t}%")

positive class rate: 0.2212%
negative class rate: 0.7788%

In [6]:
#data is lightlty imbalanced

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X, y = data.drop(columns="default.payment.next.month", axis=1), data["default.payment.next.month"].values

In [12]:
X_train, X_batch, y_train, y_batch = train_test_split(X, y, test_size=0.10, stratify=y)

In [13]:
type(X_train)

pandas.core.frame.DataFrame

In [14]:
X_train["target"] = y_train

In [15]:
X_train.to_csv("../inputs/train.csv", index=False)
X_batch.to_csv("../batches/batch_0.csv", index=False)

In [16]:
X_batch.shape

(3000, 24)

In [17]:
X_train.shape

(27000, 25)